In [1]:
import requests
from bs4 import BeautifulSoup
import re
import json
import html
import pandas as pd
import datetime
import time
import random
import warnings
import ast

from tqdm import tqdm

pd.set_option('display.max_columns', None) 
pd.options.mode.chained_assignment = None

In [33]:
df_230601 = pd.read_csv('xe_clean_20230601.csv')
df_230602 = pd.read_csv('xe_clean_20230602.csv')
df_230603 = pd.read_csv('xe_clean_20230603.csv')
df_230604 = pd.read_csv('xe_clean_20230604.csv')
df_230605 = pd.read_csv('xe_clean_20230605.csv')

In [34]:
df_230601.head(2)

,id,internal_id,title_abbreviation,address,price,price_per_unit_area,size_with_square_meter,construction_year,levels,bedrooms,bathrooms,date,extraction_date,geo_lat,geo_lng,company_title,account_id,ad_group_id,url,dimos,perioxi,type,area,price_per_area,level_list,min_level,level_length,temp_no,temp_date_unit,days_passed
0,815053331,47143151,Διαμέρισμα 54 τ.μ.,Αθήνα (Λυκαβηττός),560.0,10,54 τ.μ.,1970.0,"['-1', '0']",1.0,1.0,πριν από 2 ημέρες,2023-06-01,37.979777,23.742884,NaN,2267566.0,NaN,https://www.xe.gr/property/d/enoikiaseis-katoi...,Αθήνα,Λυκαβηττός,Διαμέρισμα,54.0,10.370370,"[-1.0, 0.0]",0.0,2,2,ημ,2
1,815047933,47142491,Διαμέρισμα 45 τ.μ.,Αθήνα (Άνω Πατήσια),420.0,9,45 τ.μ.,1969.0,['1'],1.0,1.0,πριν από 2 ημέρες,2023-06-01,38.017481,23.735684,NaN,1407351.0,459093.0,https://www.xe.gr/property/d/enoikiaseis-katoi...,Αθήνα,Άνω Πατήσια,Διαμέρισμα,45.0,9.333333,[1.0],1.0,1,2,ημ,2

In [12]:
#checking if the columns id and internal_id have same count of values


test = df_230601['id'].nunique()

test2 = df_230601['internal_id'].nunique()

print(f'The unique numbers in ID are {test} and in internal_id are {test2}')

The unique numbers in ID are 5440 and in internal_id are 5440

In [22]:
#check if the two dfs have erased ids

only_id_20230602 = list(set(df_230602['id']) - set(df_230601['id']))
only_id_20230602

[815272448,
 815310848,
 815287296,
 815287298,
 815324161,
 321231366,
 815313421,
 815316493,
 815286798,
 815285776,
 815293459,
 815298580,
 815334422,
 815317526,
 812143126,
 815242265,
 815324183,
 815267868,
 814750237,
 815288350,
 789570076,
 814596128,
 815276066,
 815279650,
 815147556,
 795813413,
 815313446,
 815313957,
 815317544,
 615564840,
 815282218,
 815287842,
 815292469,
 815313466,
 815285307,
 809832000,
 815254084,
 815322693,
 801150534,
 815308359,
 815307340,
 815334479,
 814689360,
 815319121,
 815256146,
 815276116,
 813497429,
 632601176,
 815319128,
 815274075,
 815330395,
 815334494,
 815312992,
 815333474,
 815300707,
 814497891,
 814500969,
 815256171,
 815322219,
 814306923,
 664924779,
 815286895,
 805408880,
 815306864,
 815328882,
 815331958,
 815322231,
 813229177,
 815275642,
 815325818,
 815326330,
 815330428,
 815242368,
 811361921,
 815265408,
 117148291,
 815313540,
 815316612,
 814599812,
 815256198,
 814612619,
 815334539,
 751474832,
 815280785,
 815298193,
 810471571,
 815272596,
 744263829,
 815319188,
 815279255,
 815320728,
 815325844,
 814803609,
 815328413,
 809358495,
 815330463,
 815328417,
 814128803,
 815303844,
 814401191,
 815305896,
 815322792,
 815312042,
 814444203,
 815332009,
 815305905,
 815330481,
 815312563,
 815243959,
 810854585,
 618325178,
 815325372,
 815243965,
 811642046,
 814302911,
 815306945,
 815312578,
 811267777,
 815134404,
 815333059,
 815334088,
 815242440,
 812928716,
 686088396,
 815242446,
 633092302,
 815242448,
 815321806,
 815324881,
 815325903,
 812840145,
 815334615,
 815278808,
 815242969,
 814597850,
 815245019,
 811820248,
 815330524,
 812200670,
 815314143,
 815332056,
 814299361,
 815259879,
 815314153,
 815333101,
 814703342,
 815281904,
 808210161,
 660624114,
 815317235,
 815321842,
 815260916,
 815333107,
 815277815,
 804308727,
 758038267,
 815242496,
 815245056,
 815256320,
 815287043,
 806769921,
 815303429,
 815325445,
 815278856,
 815278859,
 815279883,
 814682896,
 815242513,
 815324947,
 815277332,
 806245654,
 720112408,
 813502232,
 808943899,
 812485916,
 815279390,
 808431392,
 815284517,
 815257382,
 815255847,
 697220906,
 815287601,
 746765618,
 813994293,
 815329589,
 815311673,
 815310652,
 815245119,
 815243584,
 810289985,
 633092928,
 808982851,
 815252290,
 815319871,
 815294272,
 811955525,
 815318856,
 814751561,
 815284554,
 815331145,
 815331660,
 815330640,
 815278418,
 815303507,
 813969747,
 815330133,
 815313239,
 810473818,
 815242590,
 795207519,
 814387552,
 815312736,
 815280481,
 815329634,
 815279972,
 783075173,
 815251814,
 814926694,
 815276908,
 815287148,
 815287150,
 812200815,
 805683567,
 815287153,
 815324526,
 815283059,
 815328109,
 815328111,
 815329137,
 815331694,
 815267192,
 815277946,
 811741052,
 815330685,
 813272446,
 815334270,
 815245185,
 815308163,
 815280004,
 800132487,
 813873031,
 815325578,
 815287180,
 77560717,
 815242639,
 815242641,
 815308689,
 815311249,
 815280529,
 815312277,
 815318933,
 815323030,
 813918616,
 814937492,
 815325594,
 815323550,
 814290849,
 815312802,
 810935201,
 815259045,
 815317926,
 813873065,
 815317418,
 815246251,
 637957035,
 815313837,
 815333806,
 815331244,
 815287218,
 815120822,
 815242681,
 808346042,
 815316924,
 814702526,
 812102592,
 815317954,
 815324100,
 815316423,
 815308238,
 815062481,
 815313874,
 815095761,
 801439702,
 815279576,
 814291422,
 815324638,
 815308260,
 815307243,
 815319025,
 814563314,
 813949940,
 815255541,
 815334390,
 814156278,
 815328245,
 686087164]

In [36]:
print(len(set(df_230602['id'])),len(set(df_230601['id'])),len(only_id_20230602))

5434 5440 296

In [27]:
only_id_20230602 = list(set(df_230602['internal_id']) - set(df_230601['internal_id']))
len(only_id_20230602)

296

In [28]:
only_perioxi = list(set(df_230602['perioxi']) - set(df_230601['perioxi']))
len(only_perioxi)

0

In [29]:
len(set(df_230602['perioxi']))

159

In [30]:
len(set(df_230601['perioxi']))

159

In [31]:
len(set(df_230602['url']))

5434

In [32]:
# 296 different ids and 365 new url ??

only_url = list(set(df_230602['url']) - set(df_230601['url']))
len(only_url)

365